<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{event.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{event.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/events}" class="btn btn-secondary">[[#{event.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('event')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='event', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='event', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='event', field='description')}" />
                <div th:replace="~{fragments/forms::inputRow(object='event', field='when', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='event', field='people', type='multiselect')}" />
                <input type="submit" th:value="#{event.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
